<!--we might need to change doc type so we can have session here-->

<!DOCTYPE html>
<html>
    <head>
        <title>Music Shuffle</title>

        <!-- <link rel = "stylesheet" type = "text/css" href = "C:\Users\dutta\OneDrive\Documents\Programming\Music shuffle project\style.css"> -->

        <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">-->

        <link rel = "stylesheet" type = "text/css" href = "style.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    </head>
    <body>
        <script src = "function.js"></script>
        <h1 id = "welcome">Welcome to this website</h1>
        <div class = "center">
            <a href = "login.html" id = "bt1">Login</a>
        </div>
    </body>
</html>