<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <link rel = "stylesheet" type = "text/css" href = "style.css">
    <title>Music Shuffle</title>
</head>
<body>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>-->
    <header>
        <div class="container">
            <h1 class="logo"></h1>
            <a href = "index.html" id = "bt2">Logout</a>
            <nav>
              <ul>
                <li><a href="#">Playlists</a></li>
                <li><a href="#">Download</a></li>
                <li><a href="#">Opinions</a></li>
                <li><a href="#">Profile</a></li>
              </ul>
            </nav>
          </div>
    </header>   
</body>
</html>